/* Estilização do corpo do site */
html, body {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

/* Estilização do banner de ínicio */
.banner-container {
    background-color: #A1D54A;

    display: flex;
}

.title-text-container h3 {
    font-size: 2rem;
    font-weight: 700;
    font-style: bold;

    color: white;
}

/* Estilização do botão do acervo */
.collection-button-container button {
    border-radius: 100px;

    color: white;
    background-color: #F78520;

    border: 1px solid #F78520;
    padding: 10px 20px;

    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: extra bold;
}

