/* Estilização do corpo do site */
html, body {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

/* Estilização da variante do cabeçalho */
header {
    background-color: #BF0259;
    border-radius: 0px 0px 10px 10px;
}

.nav-container {
    display: none;
}

.nav-container-mobile {
    display: flex;
}

.nav-container .img-container {
    box-shadow: inset 0 0px 15px rgb(255, 255, 255, 0.2);
}

.nav-container .menu-container {
    box-shadow: inset 0 0px 15px rgb(255, 255, 255, 0.2);
}

.nav-container a {
    color: white;
}

/* Estilização do container de apresentação */
.image-presentation-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.presentation-container {
    display: block;
}

.title-logo-container {
    width: fit-content;
}

.info-container {
    max-width: 490px;
}

.info-container p {
    font-size: 1.1rem;
    font-weight: 400;
    font-style: regular;
    font-family: 'Inter', sans-serif;

    color: white;
    width: auto;
    max-width: 100%;
}

/* Estilização das tags */
.menu-tags-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    flex-wrap: nowrap;
    white-space: nowrap;
    
    margin-top: 20px;
    gap: 20px;
    max-width: 100%;
}

.tag {
    font-size:  1.5rem;
    font-weight: 700;
    font-family: 'Inter', 'sans-serif';
    font-style: bold;

    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    min-width: auto;
    flex-shrink: 0;
    cursor: pointer;
    scroll-behavior: smooth;

    color: #48001D;
    border: 3px solid #48001D;
}

.tag:hover {
    color: white;
    background-color: #BF0259;
}


/* Estilização do banner 'Nossa história' */
.history-image-container {
    display: flex;
    justify-content: center;

    margin: 50px auto;
    gap: 150px;
    border-radius: 10px;
    padding: 0px 50px 0px 50px;
    
    max-width: 990px;

    background-color: #A1D54A;
}

.history-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.history-image-container .image-container img {
    display: block;
}

h1 {
    font-size: 4rem;
    font-style: bold;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}

.history-image-container h1 {
    color: #111A04;

    max-width: fit-content;
}

.history-image-container p {
    font-size: 1.1rem;
    font-style: regular;
    font-weight: 400;
    font-family:'Inter', sans-serif;

    color: #111A04;

    max-width: 550px;
}

/* Estilização da sessão 'Nossos valores' */
.our-values-container {
    display: flex;
    flex-direction: column;

    margin:20px auto;
    max-width: 1090px;
    padding: 0px;
    
}

.our-values-container h1 {
    color: #81013A;
}

/* Estilização do container externo */
.values-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.values-container h3 {
    font-size: 1.8rem;
    font-weight: 700;
    font-style: bold;

    margin-top: 30px;
    margin-left: 30px;
}

/* Estilização dos containers internos */
.access-for-all-container, .love-for-literature-container, .comunity-and-exchange-container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    max-width: 387px;
    width: 387px;
    max-height: 266px;
    height: 266px;
}

.access-for-all-container img, .love-for-literature-container img, .comunity-and-exchange-container img {
    display: inline-block;
    align-self: flex-end;
}

.access-for-all-container {    
    color: #81013A;
    background-color: #F8C200;
}

.access-for-all-container img {
    width: 310px;
}

.access-for-all-container .image-container {
    text-align: right;
}

.love-for-literature-container {
    color: #F78520;
    background-color: #A1D54A;
}

.love-for-literature-container h3 {
    margin-bottom: 10px;
}

.love-for-literature-container img {
    width: 350px;
}

.comunity-and-exchange-container {
    color: #F78520;
    background-color: #BF0259;
}

.comunity-and-exchange-container img{
    width: 200px;
}

.comunity-and-exchange-container h3 {
    margin-bottom: 20px;
}

/* Estilização da sessão 'Nossa equipe' */
.our-team-container {
    display: flex;
    flex-direction: column;

    margin: 50px auto;
    max-width: 1090px;
    padding: 0px;
}

.our-team-container h1 {
    color: #81013A;
}

.team-container {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    gap: 50px
}

.member-container-1, .member-container-2, .member-container-3, .member-container-4 {
    display: flex;
    border-radius: 20px;
    width: 286px;
    
    position: relative;
}

.our-team-container img {
    display: block;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.name-container {
    padding: 10px;
    border-radius: 100px;
    margin-left: 10px;
    width: fit-content;
    
    position: absolute;
    bottom: 20px;

    color: white;
}

.member-container-1 {
    background-color: #F78520;
}

.member-container-1 .name-container {
    background-color: #C06616;
}

.member-container-2 {
    background-color: #62832A;
}

.member-container-2 .name-container {
    background-color: #2A3A0E;
}

.member-container-3 {
    background-color: #D532A7;
}

.member-container-3 .name-container {
    background-color: #63124C;
}

.member-container-4 {
    background-color: #005842;
}

.member-container-4 .name-container {
    background-color: #003426;
}

/* Responsividade: smartphone */
@media (min-width: 320px) and (max-width: 900px) {
     
    .image-presentation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        position: relative;
    }

    .image-presentation-container .image-container img {
        width: 700px;
        margin-left: -80px;
    }

    .title-logo-container img {
        margin-left: 15px;
        width: 200px;
    }

    .info-container p {
        font-size: 0.9rem;
        font-style: normal;
        text-align: justify;

        max-width: 350px;

        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 30px;
    }

    .tag {
        font-size:  1rem;
    }

    /* Estilização do banner 'Nossa história' */
    .history-image-container {
        display: flex;
        flex-direction: column;
        
        max-width: 300px;
        height: 620px;

        box-sizing: border-box;

        gap: 0;
        margin: 10px 0 10px 10px;
    }

    .history-container {
        margin-bottom: 0;
    }

    h1 {
        font-size: 1.7rem;
    }

    .info-history-container p {
        text-align: left;
        font-size: 0.8rem;
    }

    .history-image-container .image-container {
        transform: rotate(90deg);
    }

    .history-image-container .image-container img {
        width: auto;
        height: 100%;
        max-height: 300px;

        margin: auto;
        margin-bottom: 0;
    }

    /* Estilização do container externo */
    .values-container {
        flex-direction: column;
        gap: 20px;
    }

    .our-values-container {
        margin: auto;
    }

    .our-values-container .title-container h1 {        
        width: 100%;
        max-width: 550px;

        margin: auto;
        margin-bottom: 10px;
    }

    .values-container h3 {
        font-size: 1.5rem;
    }

    /* Estilização dos containers internos */
    .access-for-all-container, .love-for-literature-container, .comunity-and-exchange-container {
        flex-direction: column;
    }

    .access-for-all-container {    
        max-width: 300px;
        margin: auto;
    }

    .access-for-all-container h3 {    
        padding: 20px 0;
    }

    .access-for-all-container img {    
        width: 250px;
    }

    .love-for-literature-container {
        max-width: 300px;
        margin: auto;
    }

    .love-for-literature-container img {
        width: 300px;
    }

    .comunity-and-exchange-container {
        max-width: 300px;
        margin: auto;
    }

    /* Estilização da sessão 'Nossa equipe' */
    .our-team-container {
        display: flex;
        flex-direction: column;
    }

    .our-team-container .title-container h1 {
        width: 100%;
        max-width: 550px;
        margin: auto;
        margin-bottom: 10px;
    }

    .team-container {
        flex-direction: column; 
        margin: auto;
    }    
}
