/* Estilização do corpo do site */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto 0 ;
}

/* Estilização da variante do cabeçalho */
header {
    background-color: #BF0259;
}

.nav-container .img-container {
    box-shadow: inset 0 0px 15px rgb(255, 255, 255, 0.2);
}

.nav-container .menu-container {
    box-shadow: inset 0 0px 15px rgb(255, 255, 255, 0.2);
}

.nav-container a {
    color: white;
}

/* Estilização do container de apresentação */
.image-presentation-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.presentation-container {
    display: block;
}

.title-logo-container {
    width: fit-content;
}

.info-container {
    max-width: 490px;
}

.info-container p {
    font-size: 1.1rem;
    color: white;
    width: auto;
    max-width: 100%;
}

/* Estilização das tags */
.menu-tags-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    flex-wrap: nowrap;
    white-space: nowrap;
    
    margin-top: 20px;
    gap: 20px;
    max-width: 100%;
}

.tag {
    font-size:  1.5rem;
    font-weight: 700;
    font-family: 'Inter', 'sans-serif';
    font-style: bold;

    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    min-width: auto;
    flex-shrink: 0;
    cursor: pointer;
    scroll-behavior: smooth;

    color: #48001D;
    border: 3px solid #48001D;
}


/* Estilização do banner 'nossa história' */
.history-image-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
} 

.history-image-wrapper {
    display: flex;
    gap: 150px;
    border-radius: 10px;
    padding: 0px 50px 0px 50px;
    
    background-color: #A1D54A;
}

.history-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.history-image-wrapper h1 {
    font-size: 4rem;
    font-style: bold;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;;

    color: #111A04;

    max-width: fit-content;
}

.history-image-wrapper p {
    font-size: 1.1rem;
    font-style: regular;
    font-weight: 400;
    font-family:'Inter', sans-serif;

    color: #111A04;

    max-width: 550px;
}

/* Estilização do banner 'Nossos valores' */
.title-container {
    color: #81013A;
}

.values-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.values-container h2 {
    margin-top: 30px;
    margin-left: 30px;
}

.access-for-all-container, .love-for-literature-container, .comunity-and-exchange-container {
    border-radius: 10px;
}

.access-for-all-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    max-width: 387px;
    width: 387px;
    max-height: 266px;
    height: 266px;

    color: #81013A;
    background-color: #F8C200;
}

.access-for-all-container img {
    display: block;
    align-self: flex-end;
}

.access-for-all-container .image-container {
    text-align: right;
}

.love-for-literature-container {
    display: flex;
    flex-direction: column;

    max-width: 387px;
    width: 387px;
    max-height: 266px;
    height: 266px;

    color: #F78520;
    background-color: #A1D54A;
}

.comunity-and-exchange-container {
    display: flex;
    flex-direction: column;

    max-width: 387px;
    /* width: 387px; */
    max-height: 266px;
    /* height: 266px; */

    color: #F78520;
    background-color: #BF0259;
}
