/* Estilização do corpo do site */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
}

/* Estilização da variante do cabeçalho */
header {
    background-color: #BF0259;
}

.nav-container .img-container {
    box-shadow: inset 0 0px 15px rgb(255, 255, 255, 0.2);
}

.nav-container .menu-container {
    box-shadow: inset 0 0px 15px rgb(255, 255, 255, 0.2);
}

.nav-container a {
    color: white;
}

/* Estilização do container contendo a imagem e o texto de apresentação */
.image-presentation-container {
    background-color: #BF0259;
    display: flex;
    align-items: center;
    gap: 100px;
}

.presentation-container {
    display: block;
}

.title-logo-container {
    width: fit-content;
}

/* Revisitar esse container futuramente para ajustar o tamanho do texto a imagem */
.info-container {
    width: 490px;
}

.info-container p {
    font-size: 1.1rem;
    color: white;
    width: auto;
    max-width: 100%;
}