/* Estilização do corpo do site */
html,
body {
    height: 100%;
    margin: 0;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
}

.nav-container-mobile {
    display: none;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

/* Estilização do container de novidades e carrossel*/
.week-news-carousel-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 50px auto;
    width: 1190px;
    gap: 50px;
}

/* Estilização dos títulos e texto do banner 'novidades da semana' */
.week-news-container {
    grid-column: 1;
    grid-row: 1;
}

.week-news-container h1,
.book-title-author-container h2,
.book-title-author-container span {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
}

.week-news-container h1 {
    font-size: 5.5rem;

    max-width: 600px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #81013A;
}

.book-title-author-container h2 {
    font-size: 2rem;

    margin-bottom: 10px;

    color: #393939;
}

.book-title-author-container span {
    font-size: 1rem;
    color: #393939
}

.book-title-author-container {
    grid-column: 1;
    grid-row: 2;
}

/* Estilização do container do carrossel */
.carousel-container {
    display: flex;
    gap: 10px;

    grid-column: 2;
    grid-row: 1/3;
}

.book-cover-container {
    width: 80px;
    height: 440px;

    border-radius: 15px;

    overflow: hidden;
    position: relative;
}

.book-cover-container .book-cover {
    position: absolute;
    left: -120px;
    border-radius: 15px;
}


.book-cover-container.active {
    width: 300px;
}

.book-cover-container.active .book-cover {
    position: absolute;
    left: 0;
}

.book-cover-container .arrow-icon {
    position: absolute;
    right: 20px;
    top: 20px;

    z-index: 2;

    width: 40px;
}

.book-cover-container img {
    width: 300px;
    border-radius: 15px;
}


/* Estilização da sessão de filtro e catálogo */
.title-filter-catalog-container h1 {
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: bold;

    margin-bottom: 10px;

    color: #81013A;
}

/* Estilização da barra de filtragem */
.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;

    gap: 20px;

    border-radius: 100px;
    border: 2px solid #81013A;
}

/* Estilização do container de pesquisa */
.search-container {
    width: 50%;

    margin-left: 20px;
}

.search-container input {
    padding: 10px 20px;

    width: 100%;

    border: none;
}

.search-container input::placeholder {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: light;
    font-family: 'Inter', sans-serif;
}

/* Estilização do container de opções de filtro */
.options-container {
    display: flex;
    align-items: center;

    gap: 20px;

    border-radius: 100px;
    margin-right: 20px;
}

.options-container div {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: light;
    font-family: 'Inter', sans-serif;

    padding: 10px 20px;

    border-radius: 100px;
    border: 2px solid #81013A;

    color: #81013A;
}

.options-container .genre-container,
.options-container .publisher-container {
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 10px 15px;

}

.options-container .search-button-container {
    background-color: #81013A;
}

.options-container .search-button-container button {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 0.9rem;
    font-weight: 800;
    font-style: extra bold;

    color: white;
    background-color: #81013A;

    border: none;
}

/* Estilização do container de catálogo */
.catalog-container {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1190px;

    position: relative;
}

.book-rows-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    column-gap: 20px;
    row-gap: 20px;
}

/* Estilização do botão de adicionar livro */
.add-button-container {
    width: fit-content;

    position: absolute;
    right: -50px;
    top: 250px
}

.add-button-container button {
    padding: 10px 20px;

    border: 2px solid #81013A;
    border-radius: 100px;
    
    background-color: #81013A;
}

/* Estilização de páginação */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 30px;
    gap: 30px;
}

.pagination-item, .arrow-left-container, .arrow-right-container {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item.active {
    border-radius: 100px;

    background-color: #81013A;
}

.pagination-item.active h3 {
    padding: 5px 10px;
}

.pagination-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: bold;
    font-family: 'DM Sans', sans-serif;

    color: #CACAC9;
}

/* Estilização do modal de adição e edição de material */
.add-to-catalog-container,
.edit-catalog-container {   
    display: flex; 
    flex-direction: column;

    margin: 50px auto;
    max-width: 1190px;
    border-radius: 20px;
}

.add-to-catalog-container {
    display: none;
}

.edit-catalog-container {
    display: none;
}

.add-to-catalog-container .title-container h2,
.edit-catalog-container .title-container h2 {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: bold;
    font-family: 'DM Sans', sans-serif;

    color: #81013A;
}

.book-cover-form-container {
    display: flex;
    gap: 50px;
}

/* Estilização do container da capa do livro do modal */
.book-cover-form-container .book-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    min-width: 240px;
    height: 345px;

    background-color: #A3A3A2;
}

.book-cover-form-container .book-cover-container .image-icon {
    width: 60px;
}

.book-cover-form-container .book-cover-container button {
    position: absolute;
    bottom: 20px;
}

.book-cover-form-container .book-cover-container button {
    display: flex;
    align-items: center;

    gap: 15px;
    border: none;
    border-radius: 100px;
    padding: 10px 15px;

    font-size: 1rem;
    font-weight: 800;
    font-style: extra bold;

    color: white;
    background-color: #7E7E7D;
}

.book-cover-form-container .book-cover-container button .upload-icon {
    width: 24px;
}

/* Estilização do container do formulário do modal */
.form-container {
    max-width: 100%; 
}

.form-wrapper {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.form-wrapper .title-pages-code-container,
.form-wrapper .author-year-publisher-container,
.form-wrapper .resume-container {
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;

    color: #81013A;
}

.form-wrapper .title-pages-code-container,
.form-wrapper .author-year-publisher-container {
    gap: 20px;
}

.form-wrapper .resume-container {
    flex-direction: column;
}

.form-wrapper input {
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid #81013A;
}

.form-wrapper .title-container input,
.form-wrapper .author-container input {
    width: 380px;
}

.form-wrapper .resume-container input {
    height: 130px;
    max-width: 100%;
    border-radius: 20px;
}

/* Estilização dos botões do modal*/
.add-to-catalog-container .buttons-container,
.edit-catalog-container .buttons-container {
    display: flex;
    justify-content: flex-end;

    gap: 20px;
    margin-top: 20px;
}

.add-to-catalog-container .buttons-container button,
.edit-catalog-container .buttons-container button {
    border-radius: 100px;

    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: extra bold;
}

.add-to-catalog-container .buttons-container .cancel-button-container button,
.edit-catalog-container .buttons-container .cancel-button-container button {
    padding: 10px 20px;

    color: #81013A;
    border: 2px solid #81013A;
    background-color: white;
}

.add-to-catalog-container .buttons-container .save-button-container button,
.edit-catalog-container .buttons-container .save-button-container button,
.edit-catalog-container .buttons-container .delete-button-container button {
    display: flex;
    align-items: center;

    gap: 10px;
}

.add-to-catalog-container .buttons-container .save-button-container button,
.edit-catalog-container .buttons-container .save-button-container button,
.edit-catalog-container .buttons-container .delete-button-container button {
    padding: 10px 20px;

    color: white;
    border: 2px solid #81013A;
    background-color: #81013A;
}

.buttons-container .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

.buttons-container .buttons-wrapper .cancel-save-container {
    display: flex;
    gap: 20px;
}

@media (min-width: 320px) and (max-width: 900px) {
    .nav-container {
        display: none;
    }

    .navbar-container-mobile {
        display: flex;
    }

    /* Estilização do container de novidades e carrossel*/
    .week-news-carousel-container {
        display: flex;
        flex-direction: column;

        margin-top: 100px;
    }

    /* Estilização dos títulos e texto do banner 'novidades da semana' */
    .week-news-container h1 {
        font-size: 3rem;
        max-width: 300px;
    }

    .week-news-container h2 {
        font-size: 2rem;
    }

    .week-news-container span {
        font-size: 1rem;
    }

    /* Estilização do container do carrossel */
    .carousel-container {
        display: flex;
        gap: 10px;
    }

    /* Estilização da sessão de filtro e catálogo */
    .title-filter-catalog-container h1 {
        font-size: 1.9rem;
        margin-bottom: 20px;
    }

    .book-rows-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        column-gap: 10px;
        row-gap: 10px;

        margin: 0 auto;
    }

    .book-rows-container img {
        width: 150px;
    }

    .add-button-container button img {
        width: 20px;
    }

    .add-button-container button {
        padding: 5px 15px;
    }


    .add-button-container {
        width: fit-content;

        position: absolute;
        right: 0;
        top: 200px
    }

}
