/* Estilização do corpo do site */
html,
body {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

/* Estilização do container de novidades e carrossel*/
.week-news-carousel-container {
    display: flex;

    margin: 50px auto;
    width: 1190px;
}

/* Estilização dos títulos e texto do banner 'novidades da semana' */
.week-news-container h1,
h2,
span {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
}

.week-news-container h1 {
    font-size: 4rem;

    max-width: 400px;
    margin-bottom: 100px;
    color: #81013A;
}

.week-news-container h2 {
    font-size: 2rem;

    margin-bottom: 10px;

    color: #393939;
}

.week-news-container span {
    font-size: 1rem;
    color: #393939
}

/* Estilização do container do carrossel */
.carousel-container {
    /* TODO */
}

.book-cover-container {
    position: relative;
}

.book-cover-container .arrow-icon {
    position: absolute;
    right: 20px;
    top: 20px;

    width: 40px;
}

.book-cover-container img {
    width: 300px;
    border-radius: 15px;
}


/* Estilização da sessão de filtro e catálogo */
.title-filter-catalog-container h1 {
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: bold;

    margin-bottom: 10px;

    color: #81013A;
}

/* Estilização da barra de filtragem */
.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;

    gap: 20px;

    border-radius: 100px;
    border: 2px solid #81013A;
}

/* Estilização do container de pesquisa */
.search-container {
    width: 50%;

    margin-left: 20px;
}

.search-container input {
    padding: 10px 20px;

    width: 100%;

    border: none;
}

.search-container input::placeholder {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: light;
    font-family: 'Inter', sans-serif;
}

/* Estilização do container de opções de filtro */
.options-container {
    display: flex;
    align-items: center;

    gap: 20px;

    border-radius: 100px;
    margin-right: 20px;
}

.options-container div {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: light;
    font-family: 'Inter', sans-serif;

    padding: 10px 20px;

    border-radius: 100px;
    border: 2px solid #81013A;

    color: #81013A;
}

.options-container .genre-container,
.options-container .publisher-container {
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 10px 15px;

}

.options-container .search-button-container {
    background-color: #81013A;
}

.options-container .search-button-container button {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 0.9rem;
    font-weight: 800;
    font-style: extra bold;

    color: white;
    background-color: #81013A;

    border: none;
}

/* Estilização do container de catálogo */
.catalog-container {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1190px;
}

.book-row-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    column-gap: 20px;
    row-gap: 20px;
}

/* Estilização de páginação */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 50px;
}

.pagination-item.active {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;
    border-radius: 100px;

    background-color: #81013A;
    ;
}

.pagination-item.active h3 {
    padding: 5px 10px;
}

.pagination-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: bold;
    font-family: 'DM Sans', sans-serif;

    color: #CACAC9;
}