/* Estilização do corpo do site */
html,
body {
    height: 100%;
    margin: 0;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
}

.nav-container-mobile {
    display: none;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

/* Estilização do container de novidades e carrossel*/
.week-news-carousel-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 50px auto;
    width: 1190px;
    max-height: 500px;
    gap: 50px;
}

/* Estilização dos títulos e texto do banner 'novidades da semana' */
.week-news-container {
    grid-column: 1;
    grid-row: 1;
}

.week-news-container h1,
.book-title-author-container h2,
.book-title-author-container span {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
}

.week-news-container h1 {
    font-size: 5.5rem;

    max-width: 600px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #81013A;
}

.book-title-author-container h2 {
    font-size: 2rem;

    margin-bottom: 10px;

    color: #393939;
}

.book-title-author-container span {
    font-size: 1rem;
    color: #393939
}

.book-title-author-container {
    grid-column: 1;
    grid-row: 2;
}

/* Estilização do container do carrossel */
.carousel-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 10px;

    grid-column: 2;
    grid-row: 1/3;
}

.book-cover-container {
    width: 80px;
    height: 440px;

    border-radius: 15px;

    overflow: hidden;
    position: relative;
}

.book-cover-container .book-cover {
    position: absolute;
    left: -120px;
    border-radius: 15px;
}

.book-cover-container .arrow-icon {
    position: absolute;
    right: 20px;
    top: 20px;

    z-index: 2;

    width: 40px;
}

.book-cover-container img {
    width: 300px;
    border-radius: 15px;
}

/* Estilização do container da capa de livro ativa */
.book-cover-container.active {
    width: 300px;
}

.book-cover-container.active .book-cover {
    position: absolute;
    left: 0;
}

.book-cover-container .arrow-icon {
    transition: transform 0.5s ease;
}

.book-cover-container .arrow-icon.rotated {
    transform: rotate(90deg);
}

/* Estilização da sessão de filtro e catálogo */
.title-filter-catalog-container h1 {
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: bold;

    margin-bottom: 10px;

    color: #81013A;
}

/* Estilização da barra de filtragem */
.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;

    gap: 20px;

    border-radius: 100px;
    border: 2px solid #81013A;
}

/* Estilização do container de pesquisa */
.search-container {
    width: 50%;

    margin-left: 20px;
}

.search-container input {
    padding: 10px 20px;

    width: 100%;

    border: none;
}

.search-container input::placeholder {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: light;
    font-family: 'Inter', sans-serif;
}

/* Estilização do container de opções de filtro */
.options-container {
    display: flex;
    align-items: center;

    gap: 20px;

    border-radius: 100px;
    margin-right: 20px;
}

.options-container div {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: light;
    font-family: 'Inter', sans-serif;

    padding: 10px 20px;

    border-radius: 100px;
    border: 2px solid #81013A;

    color: #81013A;
}

.options-container .genre-container,
.options-container .publisher-container {
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 10px 15px;

}

.options-container .search-button-container {
    background-color: #81013A;
}

.options-container .search-button-container button {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 0.9rem;
    font-weight: 800;
    font-style: extra bold;

    color: white;
    background-color: #81013A;

    border: none;
}

/* Estilização do container de catálogo */
.catalog-container {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1190px;

    position: relative;
}

.book-rows-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    column-gap: 20px;
    row-gap: 20px;
}

.book-cover img {
    width: 230px;
    max-width: 100%;
    height: auto;

    border-radius: 10px;
}

/* Estilização do botão de adicionar livro */
.add-button-container {
    position: absolute;
    right: -50px;
    top: 250px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    width: 25px;
    height: 50px;
    padding: 7px 25px;

    border: 2px solid #81013A;
    border-radius: 50px;

    color: white;
    background-color: #81013A;

    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.add-button-container .icon {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: bold;
}

.add-button-container .label {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: semi bold;

    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.add-button-container:hover {
    width: 190px;
    justify-content: flex-start;
    padding-left: 20px;
}

.add-button-container:hover .label {
    opacity: 1;
}

/* Estilização de páginação */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 30px;
    gap: 30px;
}

.pagination-item,
.arrow-left-container,
.arrow-right-container {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item:hover {
    cursor: pointer;
}

.pagination-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: bold;
    font-family: 'DM Sans', sans-serif;

    color: #CACAC9;
}

/* Estilização do item de paginação ativo */
.pagination-item.active {
    border-radius: 100px;

    background-color: #81013A;
}

.pagination-item.active h3 {
    padding: 5px 10px;
}


/* Estilização do container de preview de livros*/
.overlay-preview-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.book-preview-container {
    display: flex;
    position: relative;

    gap: 25px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 25px;

    background-color: white;
}

/* Estilização do container da capa do livro */
.book-cover-preview {
    width: 320px;
    height: 100%;
}

.book-cover-preview img {
    display: block;
    width: 100%;
    object-fit: cover;

    border-radius: 25px;
}

/* Estilização do container das informações do livro */
.book-info-preview-container {
    display: flex;
    flex-direction: column;

    width: 400px;

    padding: 0 10px;
    gap: 10px;
}

.book-title-author-preview {
    margin-top: 35px;
}

.author-year-preview {
    color: #7E7E7D;
}

.book-resume-preview {
    margin: 20px 0;
    max-width: 100%;
}

.book-pages-publisher-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-pages-publisher-preview .publisher {
    color: #7E7E7D
}

/* Estiização do botão de editar */
.edit-button-preview {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.edit-button-preview button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    padding: 10px 20px;

    font: 1rem;
    font-weight: 800;
    font-style: extra bold;

    color: white;
    background-color: #393939;
    border: 2px solid #393939;
}

.edit-button-preview button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #81013A;    
}

/* Estilização do botão de fechar o modal de preview */
.close-button-container button {
    background-color: transparent;
    border: none;

    position: absolute;
    top: 20px;
    right: 25px;
}

.close-button-container button:hover {
    cursor: pointer;
}

/* Estilização do envelopador de modal de adição e edição */
.overlay-modal-add,
.overlay-modal-edit {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilização do modal de adição e edição de material */
.add-to-catalog-container,
.edit-catalog-container {
    display: flex;
    flex-direction: column;

    margin: 50px auto;
    max-width: 1190px;
    border-radius: 20px;
}

.add-to-catalog-container,
.edit-catalog-container {

    position: absolute;
    top: 50%;
    left: 50%;

    padding: 50px;

    background-color: white;
    transform: translate(-50%, -50%);
}

.add-to-catalog-container .title-container h2,
.edit-catalog-container .title-container h2 {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: bold;
    font-family: 'DM Sans', sans-serif;

    color: #81013A;
}

.add-book-cover-form-container, .edit-book-cover-form-container {
    display: flex;
    gap: 50px;
}

/* Estilização do container da capa do livro do modal de adição e edição */
.add-book-cover-form-container .book-cover-container,
.edit-book-cover-form-container .edit-book-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    min-width: 240px;
    height: 345px;
}

.add-book-cover-form-container .book-cover-container {
    background-color: #A3A3A2;;
}

.edit-book-cover-form-container .edit-book-cover-container .book-cover {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;

    border-radius: 20px;
}

.add-book-cover-form-container .book-cover-container .image-icon {
    width: 60px;
}

.add-book-cover-form-container .book-cover-container button,
.edit-book-cover-form-container .book-cover-container button {
    position: absolute;
    bottom: 20px;
}

.add-book-cover-form-container .book-cover-container button,
.edit-book-cover-form-container .book-cover-container button {
    display: flex;
    align-items: center;

    gap: 15px;
    border: none;
    border-radius: 100px;
    padding: 10px 15px;

    font-size: 1rem;
    font-weight: 800;
    font-style: extra bold;

    color: white;
    background-color: #7E7E7D;
}

.add-book-cover-form-container .book-cover-container button .upload-icon {
    width: 24px;
}

/* Estilização do container do formulário do modal de adição e ediçãol*/
.form-container {
    max-width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.form-wrapper .title-pages-code-container,
.form-wrapper .author-year-publisher-container,
.form-wrapper .resume-container {
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;

    color: #81013A;
}

.form-wrapper .title-pages-code-container,
.form-wrapper .author-year-publisher-container {
    gap: 20px;
}

.form-wrapper .resume-container {
    flex-direction: column;
}

.form-wrapper input {
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid #81013A;
}

.form-wrapper .title-container input,
.form-wrapper .author-container input {
    width: 380px;
}

.form-wrapper .resume-container textarea {
    height: 130px;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
}

/* Estilização dos botões do modal de adição e edição */
.add-to-catalog-container .buttons-container,
.edit-catalog-container .buttons-container {
    display: flex;
    justify-content: flex-end;

    gap: 20px;
    margin-top: 20px;
}

.add-to-catalog-container .buttons-container button,
.edit-catalog-container .buttons-container button {
    border-radius: 100px;

    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: extra bold;
}

.add-to-catalog-container .buttons-container .cancel-button-container button,
.edit-catalog-container .buttons-container .cancel-button-container button {
    padding: 10px 20px;

    color: #81013A;
    border: 2px solid #81013A;
    background-color: white;
}

.add-to-catalog-container .buttons-container .save-button-container button,
.edit-catalog-container .buttons-container .save-button-container button,
.edit-catalog-container .buttons-container .delete-button-container button {
    display: flex;
    align-items: center;

    gap: 10px;
}

.add-to-catalog-container .buttons-container .save-button-container button,
.edit-catalog-container .buttons-container .save-button-container button,
.edit-catalog-container .buttons-container .delete-button-container button {
    padding: 10px 20px;

    color: white;
    border: 2px solid #81013A;
    background-color: #81013A;
}

.buttons-container .buttons-wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.buttons-container .buttons-wrapper .cancel-save-container {
    display: flex;
    gap: 20px;
}

@media (min-width: 320px) and (max-width: 900px) {
    .nav-container {
        display: none;
    }

    .nav-container-mobile {
        display: flex;
        width: 100%;
        max-width: 300px;
    }

    /* Estilização do container de novidades e carrossel*/
    .week-news-carousel-container {
        display: flex;
        flex-direction: column;

        margin-top: 100px;
    }


    /* Estilização dos títulos e texto do banner 'novidades da semana' */
    .week-news-container h1 {
        font-size: 3rem;
        max-width: 300px;

        margin-left: 10px;
    }

    .book-title-author-container {
        order: 3;
    }

    .book-title-author-container h2 {
        font-size: 2rem;
        margin-left: 10px;
    }

    .book-title-author-container span {
        font-size: 1rem;
        margin-left: 10px;
    }

    /* Estilização do container do carrossel */
    .carousel-container {
        display: flex;
        margin: 50px 0;
        width: fit-content;
    }


    /* Estilização da sessão de filtro e catálogo */
    .title-filter-catalog-container h1 {
        font-size: 1.9rem;
        margin-bottom: 20px;
    }

    .book-rows-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        column-gap: 10px;
        row-gap: 10px;

        margin: 0 auto;
    }

    .book-rows-container img {
        width: 150px;
        height: auto;
    }

    .add-button-container button img {
        width: 20px;
    }

    .add-button-container button {
        padding: 5px 15px;
    }


    .add-button-container {
        width: fit-content;

        position: absolute;
        right: 0;
        top: 200px
    }

}