/* Definição de variáveis globais */
:root {
    --purple: #81013A;
    --font-family: 'Inter', sans-serif;
}

/* Estilização do corpo do site */
html, body {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

header {
    display: none;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

.title {
    font-size: 4rem;
    color: var(--purple);
}

/* Estilização do container que contém o mapa e o formulário */
.map-form-container {
    display: flex;
    flex-direction: row;

    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;

    background-color: #F8F8F8;
}

.map-container {
    max-width: 100%;
}

.map-container img {
    max-width: 100%;
}

.map-buttons-address-container .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.map-buttons-address-container .buttons-container button{
    font-family: var(--font-family);
    font-weight: 800;
    font-style: extra-bold;
    font-size: 1rem;

    border-radius: 100px;
    border-style: none;
    padding: 10px 20px 10px 20px;

    color: white

}

.Natal-container button{
    background-color: var( --purple);
}

.Midway-container button{
    background-color: #7E7E7D;
}

.address-container {
    box-sizing: border-box;
    max-width: 90%;
    margin-left: 20px;
    
    font-family: var(--font-family);
    font-size: 0.9rem;
    font-weight: 300;
    font-style: light;
    color: #393939
}

/* Estilização do formulário */
.form-container {
    box-sizing: border-box;
    padding: 20px 40px 20px 40px;
}

.form-container label,
.form-container input {
    display: block;
    box-sizing: border-box;
    
    width: 100%;
    margin-bottom: 10px;
}

.form-container h3 {
    color: var( --purple);
    font-size: 2rem;
    margin-bottom: 15px;
}

.form-container label {
    color: var( --purple);
    font-size: 1.5rem;
    font-weight: 700;
    font-style: bold;
}

.form-container input, .form-container button {
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
}

/* Estilização dos botões */
.form-container .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;

    margin-bottom: 10px;
}

.cancel-button button {
    color: var( --purple);
    background: white;
    border: 2px solid var( --purple);
}

.cancel-button button:hover {
    background-color: rgb(230, 230, 230);
}

.send-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button button {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;

    color: white;
    background: var( --purple);
    border: 2px solid var( --purple);
}

.send-button button:hover {
    background-color: #9c2058;
    border: 2px solid #9c2058;
}

.send-button img {
    width: 15px;
    height: 15px;
}

.cancel-button button, .send-button button {
    font-style: extra-bold;
    font-weight: 800;
}

/* Responsividade: smartphone, tablet, notebook e PC */
@media (min-width: 320px) and (max-width: 900px) {

    .title {
        font-size: 2.5rem;
    }

    .map-form-container {
        flex-direction: column;
    }

    .map-container {
        margin: 0px 20px ;
    }

    .map-container img {
        border-radius: 20px;
    }

    .map-buttons-address-container {
        background-color: white;
    }

    .map-buttons-address-container .buttons-container {
        flex-direction: column;
    }

    .form-container {
        background-color: #F8F8F8;
    }

    .form-container h3 {
        font-size: 1.2rem;
    }

    .form-container label {
        font-size: 1.1rem;
    }
}

@media (min-width: 400px) {
    .form-container h3 {
        font-size: 1.5rem;
    }

    .form-container label {
        font-size: 1.4rem;
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    .form-container h3 {
        font-size: 1.8rem;
    }

    .form-container label {
        font-size: 1.7rem;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .contact-form {
        margin-top: -50px;
        min-width: 350px;
    }

    .form-container h3 {
        font-size: 1.5rem;
    }

    .form-container label {
        font-size: 1.4em;
    }

}

@media (min-width: 1051px) {
    .form-container h3 {
        font-size: 1.8rem;
    }

    .form-container label {
        font-size: 1.7rem;
    }
}