/* Estilização do corpo do site */
html, body {
    height: 100%;
    margin: 0;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.nav-container-mobile {
    display: none;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

/* Estilização do banner de ínicio */
.banner-container {
    display: flex;
    position: relative;

    border-radius: 20px;
    margin: 50px auto;
    width: 1190px;
    height: 430px;
    overflow: hidden;

    background-color: #A1D54A;
}

.title-text-container {
    margin-left: 50px;
    margin-top: 50px;
}

.title-text-container h3 {
    font-size: 2rem;
    font-weight: 700;
    font-style: bold;

    max-width: 400px;

    color: white;
}

/* Estilização do botão do acervo */
.collection-button-container button {
    border-radius: 100px;

    color: white;
    background-color: #F78520;

    border: 1px solid #F78520;
    padding: 10px 20px;

    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: extra bold;

    position: absolute;
    left: 50px;
    bottom: 50px;
}

.collection-button-container button:hover {
    background-color: #c56816;
}

.mascot-img-container img {
    position: absolute;
    overflow: auto;
    right: -350px;
}

/* Estilização do container de ver mais e carrossel*/
.know-more-book-stack-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 50px auto;
    width: 1190px;
    max-height: 800px;
}

.know-more-container {
    grid-column: 1;
    grid-row: 1;

    max-width: 600px;    
}

.know-more-container h1 {
    margin-top: 20px;
}

.icon-container {
    margin-left: 20px;
}

.know-more-book-stack-container h1 {
    font-size: 4rem;
    font-weight: 700;
    font-style: bold;

    color: #81013A;
}

.text-container p {
    font-size: 1.1rem;
    font-weight: 400;
}

/* Estilização dos botões */
.buttons-container {
    grid-column: 1;
    grid-row: 2;

    width: fit-content;
    height: fit-content;

    margin-top: 100px;

    order: 2;
}

.highlight-container button, .complete-collection-container button {
    display: flex;

    border-radius: 100px;
    padding: 10px 20px;
    border: 2px solid #81013A;

    color: #81013A;
    background-color: white;

    font-size: 1rem;
    font-weight: 800;
    font-style: extra bold;
}

.highlight-container button:hover, .complete-collection-container button:hover {
    background-color: rgb(230, 230, 230);
}

.highlight-container, .complete-collection-container {
    margin-bottom: 10px;
}

.highlight-container span, .complete-collection-container span {
    margin-right: 10px;
}

/* Estilização do container 'pilha de livros (book stack) */
.book-stack-container {
    grid-column: 2;
    grid-row: 1/3;

    margin: 0 auto;
}

.book-stack {
    position: relative;
    
    width: 500px;
    height: 680px;
}

/* Estilização dos containers dos livros individuais */
.book-item {
    position: absolute;
    top: 0;
    left: 0;

    transition:
        transform 0.8s ease,
        z-index 0.5s ease;


}

.book-cover-container {
    position: relative;
}

.book-cover-container img {
    border-radius: 20px;
}

.book-cover-container .arrow-icon {
    position: absolute;

    right: 20px;
    top: 20px;
}

.book-cover {
    border-radius: 20px;
}

/* Organização das camadas da pilha */
.back {
    z-index: 1;
}

.middle {
    transform: rotate(7.4deg);
    z-index: 2;
}

.front {
    transform: rotate(-3.4deg);
    z-index: 3;
    top: 20px;

}

/* Estilização da sessão de estatísticas */
.our-statistics-container {
    margin: 50px auto;
}

.our-statistics-container h1 {
    font-size: 4rem;
    font-weight: 700;
    font-style: bold;

    color: #81013A;
    margin-bottom: 20px;
}

/* Estilização do envelopador dos containers de estatística */
.increase-counters-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

/* Estilização do conjunto primário de estatísticas */
.increase-container {
    display: flex;
    flex-direction: row;

    gap: 30px;

    position: relative;
}

.increase-collection-container, .increase-lending-container {
    width: fit-content;
    position: relative;
}

.increase-collection-container .arrow-icon, .increase-lending-container .arrow-icon {
    position: absolute;
    right: 0;
}

/* Estilização do conteúdo interno dos conteiners */
.data-container {
    width: fit-content;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.data-container h1 {
    font-family: 'DM Sans', sans-serif;
    width: fit-content;
    margin: 0;
}

.data-container span {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    font-style: light;
}

.increase-collection-container .data-container h1, .increase-collection-container .data-container span {
    color: #2A3A0E;
}

.increase-lending-container .data-container h1,  .increase-lending-container .data-container span {
    color: #5B2D05;
}

/* Estilização do conjunto secundário de estatísticas */
.counters-container {
    display: flex;
    width: fit-content;
    gap: 20px;
}

/* Estilização dos conteiners */
.counters-container div {
    border-radius: 20px;
    padding: 20px 40px;

    position: relative;

    background-color: #BF0259;
}

.counters-container h2 {
    font-size: 3.1rem;
    font-family: 'DM Sans', sans-serif;
    
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    min-width: 145px;
    
    color: #FFC1CF;
}

.counters-container span {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: light;
    font-family: 'Inter', sans-serif;

    color: #FFC1CF;
}

/* Estilização dos ícones do container */
.registerd-users-container img,
.materials-catalog-container img,
.registered-titles-container img {
    position: absolute;
    right: 20px;
    top: 40px;
}

/* Responsividade: smartphone */
@media (min-width: 320px) and (max-width: 900px) {
    .nav-container {
        display: none;
    }

    .nav-container-mobile {
        display: flex;
    }

    /* Estilização do banner de ínicio */
    .banner-container {
        display: flex;
        flex-direction: column;
        position: relative;

        border-radius: 20px;
        margin: 50px 10px;
        width: 100%;
        max-width: 300px;
        height: 550px;
    }

    .title-text-container {
        margin-left: 20px;
        margin-top: 50px;
    }

    .title-text-container h3 {
        margin-top: 10px;
        font-size: 1.7rem;
    }

    .banner-container .title-text-container img {
        width: 150px;
    }

    /* Estilização do botão do acervo */
    .collection-button-container button {
        position: static;
        margin-left: 20px;
        padding: 10px 15px;
    }

    .mascot-img-container img {
        position: absolute;
        overflow: auto;
        right: -185px;
        bottom: -10px;

        width: 500px;
        height: auto;
    }

    /* Estilização do container de ver mais e carrossel*/
    .know-more-book-stack-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .know-more-container {
        display: flex;
        flex-direction: column;
        
        width: 100%;
        max-width: 320px;
     
        margin: 0 auto;
    }

    .know-more-container h1 {
        font-size: 2rem;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;

        order: 1;
    }

    .text-container p {
        font-size: 0.9rem;
        font-weight: 300;

        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;

        order: 2;
    }

    .icon-container {
        order: 3;
        margin-top: 20px;
    }

    .icon-container img {
        transform: rotate(90deg);
        width: 40px;
    }

    /* Estilização dos botões */
    .buttons-container {
        margin: 0 auto;

        order: 5;
    }

    .highlight-container button, .complete-collection-container button {
        display: flex;
        font-size: 0.8rem;
    }

    /* Estilização do container 'pilha de livros (book stack) */
    .book-stack-container {
        margin: 0 auto;
        max-width: 250px;
        height: auto;

        order: 4;
    }

    .book-stack {
        margin: 30px auto;
        height: 400px;

    }

    .book-item .book-cover {
        width: 250px;
    }

    .book-item .arrow-icon {
        width: 40px;
    }

    /* Estilização da sessão de estatísticas */
    .our-statistics-container {
        margin: 100px auto;
        max-width: 600px;
    }

    .our-statistics-container .title-container h1 {
        font-size: 2rem;
    }

    /* Estilização do envelopador dos containers de estatística */
    .increase-counters-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        margin: 20px auto;

    }

    /* Estilização do conjunto primário de estatísticas */
    .increase-container {
        display: flex;
        flex-direction: row;
        position: relative;

        margin: auto;
        gap: 20px;
        max-width: 320px;

        order: 2;
    }

    .increase-container h1 {
        font-size: 2rem;
    }

    .increase-container img {
        width: 200px;
        max-width: 100%;
    }

    .increase-collection-container .arrow-icon, .increase-lending-container .arrow-icon {
        position: absolute;
        right: 0;

        width: 30px;
    }

    /* Estilização do conteúdo interno dos conteiners */
    .data-container {
        width: 100%;
        max-width: 200px;

        position: absolute;
        bottom: 40px;
        left: 10px;
    }

    .data-container span {
        font-size: 0.6rem;
    }

    /* Estilização do conjunto secundário de estatísticas */
    .counters-container {
        flex-direction: column;
        width: 100%;
        max-width: 450px;
        margin: auto;
        gap: 10px;

        order: 1;
    }
}
