/* Estilização do corpo do site */
html, body {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

/* Estilização do banner de ínicio */
.banner-container {
    display: flex;
    position: relative;

    border-radius: 20px;
    margin: 50px auto;
    width: 1190px;
    height: 430px;
    overflow: hidden;

    background-color: #A1D54A;
}

.title-text-container {
    margin-left: 50px;
    margin-top: 50px;
}

.title-text-container h3 {
    font-size: 2rem;
    font-weight: 700;
    font-style: bold;

    max-width: 400px;

    color: white;
}

/* Estilização do botão do acervo */
.collection-button-container button {
    border-radius: 100px;

    color: white;
    background-color: #F78520;

    border: 1px solid #F78520;
    padding: 10px 20px;

    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: extra bold;

    position: absolute;
    left: 50px;
    bottom: 50px;
}

.mascot-img-container img {
    position: absolute;
    overflow: auto;
    right: -350px;
}

/* Estilização do container de ver mais e carrossel*/
.know-more-book-stack-container {
    display: flex;
    margin: 50px auto;
    width: 1190px;
}

.know-more-container {
    width: 50%;
}

.icon-container {
    margin-left: 20px;
}

.know-more-book-stack-container h1 {
    font-size: 4rem;
    font-weight: 700;
    font-style: bold;

    color: #81013A;
}

.text-container p {
    font-size: 1.1rem;
    font-weight: 400;
}

/* Estilização dos botões */
.highlight-container button, .complete-collection-container button {
    display: flex;

    border-radius: 100px;
    padding: 10px 20px;
    border: 2px solid #81013A;

    color: #81013A;
    background-color: white;

    font-size: 1rem;
    font-weight: 800;
    font-style: extra bold;
}

.highlight-container, .complete-collection-container {
    margin-bottom: 10px;
}

.highlight-container span, .complete-collection-container span {
    margin-right: 10px;
}

/* Estilização do container 'pilha de livros (book stack) */
.book-stack-container {
    margin: auto;
}

.book-stack {
    position: relative;
    
    width: 500px;
    height: 680px;
}

/* Estilização dos containers dos livros individuais */
.book-item {
    position: absolute;
    top: 0;
    left: 0;
}

.book-cover-container {
    position: relative;
}

.book-cover-container img {
    border-radius: 20px;
}

.book-cover-container .arrow-icon {
    position: absolute;

    right: 20px;
    top: 20px;
}

.book-cover {
    border-radius: 20px;
}

/* Organização das camadas da pilha */
.back {
    z-index: 1;
}

.middle {
    transform: rotate(7.4deg);
    z-index: 2;
}

.front {
    transform: rotate(-3.4deg);
    z-index: 3;
    top: 20px;

}

/* Estilização da sessão de estatísticas */
.our-statistics-container {
    margin: 100px auto;
}

.our-statistics-container h1 {
    font-size: 4rem;
    font-weight: 700;
    font-style: bold;

    color: #81013A;
}

/* Estilização do envelopador dos containers de estatística */
.increase-counters-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

/* Estilização do conjunto primário de estatísticas */
.increase-container {
    display: flex;
    flex-direction: row;

    gap: 30px;

    position: relative;
}

.increase-collection-container, .increase-lending-container {
    width: fit-content;
    position: relative;
}

.increase-collection-container .arrow-icon, .increase-lending-container .arrow-icon {
    position: absolute;
    right: 0;
}

/* Estilização do conteúdo interno dos conteiners */
.data-container {
    width: fit-content;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.data-container h1 {
    font-family: 'DM Sans', sans-serif;
    width: fit-content;
    margin: 0;
}

.data-container span {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    font-style: light;
}

.increase-collection-container .data-container h1, .increase-collection-container .data-container span {
    color: #2A3A0E;
}

.increase-lending-container .data-container h1,  .increase-lending-container .data-container span {
    color: #5B2D05;
}

/* Estilização do conjunto secundário de estatísticas */
.counters-container {
    display: flex;
    width: fit-content;
    gap: 20px;
}

/* Estilização dos conteiners */
.counters-container div {
    border-radius: 20px;
    padding: 20px 40px;

    position: relative;

    background-color: #BF0259;
}

.counters-container h2 {
    font-size: 3.1rem;
    font-family: 'DM Sans', sans-serif;
    
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    min-width: 145px;
    
    color: #FFC1CF;
}

.counters-container span {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: light;
    font-family: 'Inter', sans-serif;

    color: #FFC1CF;
}

/* Estilização dos ícones do container */
.registerd-users-container img,
.materials-catalog-container img,
.registered-titles-container img {
    position: absolute;
    right: 20px;
    top: 40px;
}
