/* Estilização do corpo do site */
html, body {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

/* Evita que o conteúdo principal fique sobreposto */
main {
    flex: 1;
    margin: auto;
    max-width: 100%;
}

/* Estilização do banner de ínicio */
.banner-container {
    display: flex;
    position: relative;

    border-radius: 20px;
    margin: 50px auto;
    width: 1190px;
    height: 430px;
    overflow: hidden;

    background-color: #A1D54A;
}

.title-text-container {
    margin-left: 50px;
    margin-top: 50px;
}

.title-text-container h3 {
    font-size: 2rem;
    font-weight: 700;
    font-style: bold;

    max-width: 400px;

    color: white;
}

/* Estilização do botão do acervo */
.collection-button-container button {
    border-radius: 100px;

    color: white;
    background-color: #F78520;

    border: 1px solid #F78520;
    padding: 10px 20px;

    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: extra bold;

    position: absolute;
    left: 50px;
    bottom: 50px;
}

.mascot-img-container img {
    position: absolute;
    overflow: auto;
    right: -350px;
}

/* Estilização do container de ver mais e carrossel*/
.know-more-carousel-container {
    margin: 50px auto;
    width: 1190px;
}

.know-more-container {
    width: 50%;
}

.icon-container {
    margin-left: 20px;
}

.know-more-carousel-container h1 {
    font-size: 4rem;
    font-weight: 700;
    font-style: bold;

    color: #81013A;
}

.text-container p {
    font-size: 1.1rem;
    font-weight: 400;
}

/* Estilização dos botões */
.highlight-container button, .complete-collection-container button {
    display: flex;

    border-radius: 100px;
    padding: 10px 20px;
    border: 2px solid #81013A;

    color: #81013A;
    background-color: white;

    font-size: 1rem;
    font-weight: 800;
    font-style: extra bold;
}

.highlight-container, .complete-collection-container {
    margin-bottom: 10px;
}

.highlight-container span, .complete-collection-container span {
    margin-right: 10px;
}


