/* Variáveis úteis */
:root {
    --orange: #F78520;
    --brown: #8C490D;
}

body {
    overflow: hidden;
    background-color: var(--brown);
    margin: 0;
}

.main-content {
    display: flex;
    background-color: var(--brown);
}

/* Estilização do container com imagem (logo) e titulo (logo) */
.logo-title-wrapper {
    position: relative;
}

.logo {
    position: absolute;
    left: -400px;
}

.logo img {
    width: 1320px;
    height: 1000px;
    transform: rotate(10deg);
}

.title {
    position: fixed;
    bottom: 20px;
    left: 100px;
}

/* Estilização do container com o formulário de login */
.login-container {
    background-color: white;

    width: 50%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    position: fixed;
    right: 0;
}

.login-wrapper {
    margin-top: 150px;
    width: 80%;
}

.login-container .login-title,
.login-container .form-container,
.login-container .options-container {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    color: var(--orange);
    font-size: 4rem;
}

.form-container {
    margin-top: 100px;
    max-width: 100%;
}

.form-container label {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Estilização dos campos e caixas do formulário */
.form-container label,
.form-container input {
    display: block;
    box-sizing: border-box;

    width: 100%;
    margin-bottom: 10px;

    color: var(--orange);
    border-color: var(--orange);

}

.form-container input {
    border-radius: 100px;
    border: 1px solid;

    padding: 10px 20px;
}

.password-container {
    width: 100%;
}

.password-icon-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.password-icon-container input {
    padding-right: 40px;
}

.password-icon-container img {
    position: absolute;
    right: 0;
    padding: 0px 10px 10px 0px;
}

.options-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilização dos links */
.forgotten-password a,
.register-account a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;

    color: var(--orange);
}

.forgotten-password a:hover,
.register-account a:hover {
    text-decoration: underline;
}

.forgotten-password,
.register-account {
    margin-bottom: 10px;
}

.enter-button {
    text-align: right;
    margin-right: 50px;
}

/* Estilização do botão de entrar */
.enter-button button {
    color: white;
    background-color: var(--orange);

    font-weight: 800;
    font-size: 1rem;

    border: none;
    border-radius: 100px;

    padding: 10px 20px;
}

.enter-button button:hover {
    background-color: #c56816;
}

/* Responsividade: smartphone */
@media (min-width: 320px) and (max-width: 900px) {
    body {
        background-color: white;
        overflow-y: scroll;
    }

    /* Alinhamento dos items na vertical */
    .main-content {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    /* Ajustes no container do logo */
    .logo-title-wrapper {
        position: static;
        margin-bottom: 30px;
    }

    .logo {
        position: relative;
        left: -200px;
    }

    .logo img {
        height: 200px;
        width: 580px;
        margin-bottom: 10px;
    }

    .title {
        display: none;
    }

    /* Ajustes no container do formulário de login */
    .login-container {
        width: 100%;
        height: 100%;

        border-radius: 15px 15px 0px 0px;
        position: static;
        padding-bottom: 20px;
    }

    .login-wrapper {
        margin-top: 10px;
        width: 100%;
        max-width: 500px;
        margin: auto;
    }

    .login-container .login-title,
    .login-container .form-container,
    .login-container .options-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .form-container {
        margin-top: 10px;
        width: 85%;
    }

    .form-container label {
        font-size: 1rem;
    }

    .form-container input {
        padding: 5px 5px;
    }

    /* Ajustes na estilização dos links */
    .forgotten-password a,
    .register-account a {
        font-size: 0.8rem;
    }

    .options-container {
        text-align: center;
    }

    .forgotten-password,
    .register-account {
        margin-bottom: 10px;
    }

    /* Estilização do botão de entrar */
    .enter-button {
        text-align: center;
        margin-right: 0px;
    }

    .enter-button button {
        font-size: 0.8rem;
        margin-top: 10px;
    }
}

/* Ajustes na imagem em intervalos de telas de até 900px*/
@media (min-width: 401px) and (max-width: 500px) {
    .logo img {
        height: 300px;
        width: 680px;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .logo img {
        height: 400px;
        width: 680px;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .logo img {
        height: 500px;
        width: 830px;
    }
}

/* Responsividade: notebook e PC*/
@media (min-width: 901px) and (max-width: 1850px) {
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 3rem;
    }

    .logo {
        left: -300px;
    }

    .logo img {
        height: 650px;
        width: 750px;
    }

    .title {
        position: fixed;
        bottom: 20px;
        left: 20px;
    }
}

/* Ajustes na imagem em intervalos de telas de até 1850px*/
@media (min-width: 1201px) and (max-width: 1400px) {
    .logo img {
        height: 750px;
        width: 850px;
    }

    .title {
        left: 40px;
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .logo img {
        height: 800px;
        width: 950px;
    }

    .title {
        left: 40px;
    }
}

@media (min-width: 1601px) and (max-width: 1850px) {
    .logo img {
        height: 800px;
        width: 1100px;
    }

    .title {
        left: 60px;
    }
}