/* Estilização do menu */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 100px;
    gap: 25px;
}

/* Estilização do sombreamento do container da imagem */
.img-container {
    border-radius: 100px;
    box-shadow: inset 0 8px 15px rgba(0, 0, 0, 0.05);
}

/* Estilização do menu e do sombreamento container */
.menu-container {
    display: flex;
    justify-content: space-between;

    border-radius: 100px;
    padding: 25px 20px;
    gap: 100px;

    box-shadow: inset 0 8px 15px rgba(0, 0, 0, 0.05);
}

/* Estilização dos links do menu */
.menu-container a {
    text-decoration: none;
    color: #5A5A5A;
}

.menu-container a:hover {
    text-decoration: underline;
}

/* Estilização do menu mobile */
.nav-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;

    gap: 20px;
    
    z-index: 20;
}

.logo-container {
    padding: 10px 40px;
    border-radius: 100px;
}

.profile-container {
    display: flex;
    align-items: center;

    gap: 20px;
}

.profile-icon-container img:hover {
    width: 35px;
    cursor: pointer;
}

.exit-icon-container {
    display: none;

}

.exit-icon-container img:hover {
    width: 30px;
    cursor: pointer;
}

/* Estilização do menu mobile */
.nav-container-mobile .img-container, .nav-container-mobile .logo-container {
    border: solid 1px rgba(255, 255, 255, 0.419);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
}

/* Estilização do menu lateral da versão responsiva */
.side-menu-container {
    display: none;
    flex-direction: column;
    
    position: absolute;
    left: 0;
    top: 0;

    z-index: 21;
    
    width: 70%;
    max-width: 250px ;
    height: 100%;
    max-width: 500px;
    border-radius: 0px 10px 10px 0px;

    background-color: white;
}

.side-menu-container .logo-container {
    margin-top: 20px;
}

.side-menu-container .logo-container img {
    width: 90px;
}

.side-menu-container .pages-list-container {
    list-style: none;

    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: bold;
}

.side-menu-container .list-item{
    margin: 10px 0px;
    padding-left: 45px;
}

.side-menu-container a {
    text-decoration: none;
    color: #1D1D1D;
}

.side-menu-container a:hover {
    text-decoration: underline;
}

/* Estilização do footer/rodapé */
.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-info-container {
    background-color: #81013A;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    width: 100%;

    padding-top: 20px;
}

.footer-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer-image img {
    text-align: center;
}

.footer-container h2 {
    font-size: 2.5rem;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.footer-container li {
    display: flex;
    align-items: center;
}

.footer-container ul li {
    margin-bottom: 5px;
    padding: 3px;
    gap: 10px
}

.footer-container span {
    font-size: 1.1rem;
}

.footer-message {
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-family: 'Inter', sans-serif;

    padding-bottom: 20px;

    background-color: #81013A;
    color: white;
}

.footer-message span {
    font-size: 1rem;
}

/* Responsividade do footer: smartphone e tablet */
@media (min-width: 320px) and (max-width: 900px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footer-info-container {
        flex-direction: column;

        gap: 10px;
        width: 100%;
    }

    .footer-contacts {
        margin: 0;
    }

    .footer-container h2 {
        margin: 0;
    }
}

/* Responsividade do footer: notebook*/
@media (min-width: 901px) and (max-width: 1000px) {
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer-info-container {
        flex-direction: row;

        gap: 20px;
        width: 100%;
    }

    .footer-contacts {
        margin: 0;
    }

    .footer-container h2 {
        font-size: 1.8rem;
    }
}

/* Responsividade do footer: notebook e PC */
@media (min-width: 1001px) and (max-width: 1400px) {

    .footer-info-container {
        gap: 50px;
    }

    .footer-container h2 {
        font-size: 1.8rem;
    }
}
