/* Estilização do menu/navbar */
.nav-container {
    display: flex;
    align-items: center;

    max-width: 700px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 100px;
    gap: 30px;
}

/* Estilização do menu e do sombreamento container */
.menu-container {
    display: flex;
    justify-content: space-between;

    border-radius: 100px;
    padding: 10px 20px;
    gap: 100px;

    box-shadow: inset 0 8px 15px rgba(0, 0, 0, 0.05);
}

/* Estilização dos links do menu */
.menu-container a {
    text-decoration: none;
    color: #5A5A5A;
}

.menu-container a:hover {
    text-decoration: underline;
}

/* Estilização do sombreamento do container da imagem */
.img-container {
    border-radius: 100px;
    box-shadow: inset 0 8px 15px rgba(0, 0, 0, 0.05);
}

/* Estilização do footer/rodapé */
.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-info-container {
    background-color: #81013A;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    width: 100%;
}

.footer-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer-image img {
    text-align: center;
}

.footer-container h2 {
    font-size: 2.5rem;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.footer-container li {
    display: flex;
    align-items: center;
}

.footer-container ul li {
    margin-bottom: 5px;
    padding: 3px;
    gap: 10px
}

.footer-container span {
    font-size: 1.1rem;
}

.footer-message {
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-family: 'Inter', sans-serif;

    padding-bottom: 20px;

    background-color: #81013A;
    color: white;
}

.footer-message span {
    font-size: 1rem;
}

/* Responsividade do footer/rodapé: smartphone e tablet */
@media (min-width: 320px) and (max-width: 900px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footer-info-container {
        flex-direction: column;

        gap: 10px;
        width: 100%;
    }

    .footer-contacts {
        margin: 0;
    }

    .footer-container h2 {
        margin: 0;
    }
}

/* Responsividade do footer/rodapé:: notebook*/
@media (min-width: 901px) and (max-width: 1000px) {
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer-info-container {
        flex-direction: row;

        gap: 20px;
        width: 100%;
    }

    .footer-contacts {
        margin: 0;
    }

    .footer-container h2 {
        font-size: 1.8rem;
    }
}

/* Responsividade do footer/rodapé: notebook e PC */
@media (min-width: 1001px) and (max-width: 1400px) {


    .footer-info-container {
        gap: 50px;
    }

    .footer-container h2 {
        font-size: 1.8rem;
    }
}
