/* Variáveis úteis */
:root {
    --orange: #F78520;
    --brown: #8C490D;
}

body {
    background-color: var(--brown);
    overflow: hidden;
}

.main-content {
    display: flex;
    background-color: var(--brown);
}

.logo-title-wrapper {
    position: relative;
    overflow: hidden;
    height: 900px;
    width: 955px;
}

.logo {
    position: absolute;
    left: 10px;
    top: 70px;
}

.logo img {
    width: 1320px;
    height: 1000px;
    transform: rotate(10deg);
}

.title {
    position: fixed;
    bottom:20px;
    left: 100px;
}

.recovery-container {
    background-color: white;
    
    width: 50%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    
    position: fixed;
    right: 0;
}

.logo-title-wrapper, .recovery-wrapper {
    position: relative;
}

.recovery-wrapper {
    margin-top: 150px;
    width: 70%;
}

.recovery-container .recovery-title, .recovery-container .form-container, .login-container .options-container {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    color: var(--orange);
    font-size: 4rem;
}

.form-container {
    margin-top: 100px;
}

.form-container fieldset {
    border: none;
}

.form-container label {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Ajustes para que o rótulo e o campo de texto fiquem em linhas diferentes */
.form-container label, .form-container input {
    display: block;
    width: 100%;
    color: var(--orange);
    border-color: var(--orange);

    margin-bottom: 10px;
}

.form-container input {
    border-radius: 100px;
    border: 1px solid; 

    padding: 10px 20px;
}

.buttons-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;   
}

/* Estilização do botão de cancelar */
.back-button button {
    color: var(--orange);
    background-color: white;
    
    font-weight: 800;
    font-size: 1rem;

    border-radius: 100px;
    border: 1px solid var(--orange);

    padding: 10px 20px;
}

/* Estilização do botão de entrar */
.send-button button {
    color: white;
    background-color: var(--orange);
    
    font-weight: 800;
    font-size: 1rem;

    border: none;
    border-radius: 100px;

    padding: 10px 20px;
    margin-right: 20px;
}

/* Responsividade: Smartphone */
@media (max-width: 400px) {
    body {
        margin: 0;
        background-color: white;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .logo-title-wrapper {
        position: static;
        height: 100%;
        width: 100%;
    }

    .logo {
        position: relative;
        left: -50px;
        top: 0;
    }

    .logo img {
        height: 300px;
        width: 580px;
    }

    .title {
        display: none;
    }

    .recovery-container {
        background-color: white;
        
        width: 100%;
        height: 100%;
        padding-bottom: 30px;

        border-radius: 15px 15px 0px 0px;
        position: static;
    }

    .logo-title-wrapper, .recovery-wrapper {
        position: static;
    }

    .recovery-wrapper {
        margin: 0px;
        width: 100%;
    }

    .recovery-container .recovery-title, .recovery-container .form-container, .login-container .options-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        width: 100%;
        font-size: 1.7rem;
    }

    .form-container {
        margin-top: 0px;
        width: 85%;
    }

    .form-container fieldset {
        padding: 0px;
    }

    .form-container label {
        font-size: 1rem;
    }

    /* Ajustes para que o rótulo e o campo de texto fiquem em linhas diferentes */
    .form-container label, .form-container input {
        margin-bottom: 10px;
    }

    .form-container input {
        padding: 5px 10px;
    }

    .buttons-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;   
    }

    /* Estilização do botão de cancelar */
    .back-button button {
        font-size: 0.8rem;
        padding: 8px 12px;
    }

    /* Estilização do botão de entrar */
    .send-button button {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}
