/* Variáveis úteis */
:root {
    --orange: #F78520;
    --brown: #8C490D;
}

body {
    background-color: var(--brown);
}

.main-content {
    display: flex;
    background-color: var(--brown);
}

/* Estilização do container com imagem (logo) e titulo (logo) */
.logo-title-wrapper {
    position: relative;
    overflow: hidden;
    height: 900px;
    width: 955px;
}

.logo {
    position: absolute;
    left: 10px;
    top: 0;
}

.logo img {
    width: 1320px;
    height: 1000px;
    transform: rotate(10deg);
}

.title {
    position: fixed;
    bottom:20px;
    left: 100px;
}

/* Estilização do conteiner com o formulário de redefinição de senha */
.redefine-container {
    background-color: white;
    
    width: 50%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    
    position: fixed;
    right: 0;
}

.logo-title-wrapper, .redefine-wrapper {
    position: relative;
}

.redefine-wrapper {
    margin-top: 150px;
    width: 100%;
    max-width: 500px;
}

.redefine-container .redefine-title, .redefine-container .form-container, .login-container .options-container {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    color: var(--orange);
    font-size: 4rem;
}

.form-container {
    margin-top: 100px;
}

.form-container fieldset {
    border: none;
}

.form-container label {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Estilizção dos campos e caixas do formulário */
.form-container label, .form-container input {
    display: block;
    width: 100%;
    color: var(--orange);
    border-color: var(--orange);

    margin-bottom: 10px;
}

.form-container input {
    border-radius: 100px;
    border: 1px solid; 

    padding: 10px 20px;
}

.buttons-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;   
}

/* Estilização do botão de voltar */
.back-button button {
    color: var(--orange);
    background-color: white;
    
    font-weight: 800;
    font-size: 1rem;

    border-radius: 100px;
    border: 1px solid var(--orange);

    padding: 10px 20px;
}

.back-button button:hover {
    background-color: rgb(251, 240, 240);
}

/* Estilização do botão de enviar */
.send-button button {
    color: white;
    background-color: var(--orange);
    
    font-weight: 800;
    font-size: 1rem;

    border: none;
    border-radius: 100px;

    padding: 10px 20px;
    margin-right: 20px;
}

.send-button button:hover {
    background-color: #c56816;
}

/* Responsividade: Smartphone */
@media (min-width: 320px) and (max-width: 900px) {
    body {
        margin: 0;
        background-color: white;
    }

    /* Alinhamento dos items na vertical */
    .main-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    /* Ajustes no container do logo */
    .logo-title-wrapper {
        position: static;
        height: 100%;
        width: 100%;
    }

    .logo {
        position: relative;
        left: -50px;
        top: 0;
    }

    .logo img {
        height: 300px;
        width: 580px;
    }

    .title {
        display: none;
    }

    /* Ajustes no container do formulário de redefinição de senha */
    .redefine-container {
        background-color: white;
        
        width: 100%;
        height: 100%;
        padding-bottom: 30px;

        border-radius: 15px 15px 0px 0px;
        position: static;
    }

    .logo-title-wrapper, .redefine-wrapper {
        position: static;
    }

    .redefine-wrapper {
        margin: 0px;
        width: 100%;
    }

    .redefine-container .redefine-title, .redefine-container .form-container, .login-container .options-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        width: 100%;
        font-size: 2rem;
    }

    .form-container {
        margin-top: 0px;
        width: 85%;
    }

    .form-container fieldset {
        padding: 0px;
    }

    .form-container label {
        font-size: 1.4rem;
    }

    .form-container label, .form-container input {
        margin-bottom: 10px;
    }

    .form-container input {
        padding: 8px;
    }

    .buttons-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;   
    }

    /* Estilização do botão de voltar */
    .back-button button {
        font-size: 0.8rem;
        padding: 8px 12px;
    }

    /* Estilização do botão de enviar */
    .send-button button {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}

/* Ajustes na imagem em intervalos de telas de até 900px*/
@media (min-width: 401px) and (max-width: 900px) {
    .logo img {
        height: 350px;
        width: 680px;
    }

    .logo {
        top: 0;
    }

    .redefine-wrapper {
        margin: auto;
    }

    h1 {
        font-size: 2.7rem;
    }

    .form-container label {
        font-size: 1.5rem;
    }

    .form-container input {
        padding: 10px;
    }

    .back-button button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .send-button button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    .logo img {
        height: 400px;
        width: 750px;
    }

    .logo {
        left: 20px;
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    .logo img {
        height: 500px;
        width: 950px;
    }

    .logo {
        left: 0;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .logo img {
        height: 500px;
        width: 1050px;
    }

    .logo {
        left: 50px;
    }
}

@media (min-width: 801px) and (max-width: 900px) {
    .logo img {
        height: 600px;
        width: 1050px;
    }

    .logo {
        left: 120px;
    }
}

/* Responsividade: notebook e PC*/
@media (min-width: 901px) and (max-width: 1800px) {
    body {
        overflow: hidden;
    }

    .logo {
        left: -20px;
        top: 150px;
    }

    .logo img {
        height: 550px;
        width: 750px;
    }

    .title {
        position: fixed;
        bottom: 100px;
        left: 20px;
    }

    .redefine-title {
        width: 100%;
        max-width: 100%;
    }

    .redefine-title h1 {
        font-size: 2.4rem;
    }
}

@media (min-width: 1001px) {
    .redefine-title h1 {
        font-size: 3rem;
    }
}

/* Ajustes na imagem em intervalos de telas de até 1850px*/
@media (min-width: 1101px) and (max-width: 1300px) {
    .logo img {
        height: 550px;
        width: 900px;
    }
}

@media (min-width: 1201px) {
    .redefine-wrapper {
    max-width: 550px;
}
}

@media (min-width: 1301px) and (max-width: 1400px) {
    .logo img {
        height: 550px;
        width: 950px;
    }

    .logo {
        left: 0;
        top: 150px;
    }

    .title {
        left: 40px;
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .logo img {
        height: 600px;
        width: 1100px;
    }

    .logo {
        top: 100px;
    }
}

@media (min-width: 1601px) and (max-width: 1800px) {
    .logo img {
        height: 800px;
        width: 1250px;
    }

    .logo {
        top: 50px;
        left: 0;
    }
}
